name: SwiftPM Tests

on:
  pull_request:
    types: [ opened, synchronize ]
    branches:
      - "master"
    paths-ignore:
      - "README.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_swift_tests:
    name: Run SwiftPM tests
    runs-on: macos-26
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 26.1
      - run: |
          swift test
